:root {
  --primary-color: #9adcf2;
}

@font-face {
  font-family: "Snubnose";
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/snubnose.woff2") format("woff2");
}

@font-face {
  font-family: "RedRock";
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/redrock.woff2") format("woff2");
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background: url("./images/sf.svg") center 13vw no-repeat;
  background-size: 80% auto;
  font-family: "Snubnose";
  font-size: 26px;
  margin: 0;
  padding-bottom: 20vw;
  text-align: center;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
}

h1,
footer {
  font-family: "RedRock";
}

h1 {
  color: var(--primary-color);
  font-size: 24vw;
  font-weight: normal;
  margin: 0.7em auto 0.3em;
}

h2 {
  font-weight: normal;
  margin-bottom: 20px;
}

p {
  font-size: 1.4em;
}

a {
  color: inherit;
}

aside {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  margin-top: 60px;
}

button {
  -webkit-appearance: button;
}

button,
.button {
  align-items: center;
  background: url(./images/btn.svg), url(./images/brush.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%, contain;
  border: 0;
  box-sizing: border-box;
  color: inherit;
  cursor: pointer;
  display: inline-flex;
  font-family: inherit;
  font-size: 20px;
  height: 50px;
  justify-content: center;
  line-height: 1.15;
  margin: 0;
  overflow: visible;
  padding: 5px 0 0;
  text-decoration: none;
  text-transform: none;
  transition: all ease 50ms;
  vertical-align: middle;
  width: 190px;
}

.secondary {
  filter: hue-rotate(270deg) saturate(1.4);
}

button:not([disabled]):not(:hover),
.button:not([disabled]):not(:hover) {
  transform: translate(-2px, -2px);
}

button.loading::after,
.button.loading::after {
  --animation-time: 2s;
  font-size: 3em;
  transform: translateY(-0.2em);
}

.loading,
.meter,
.share {
  position: relative;
}

.meter {
  height: 21px;
  margin: auto;
  width: 224px;
}

.meter::before {
  animation: infinite loading-bar ease 4s;
  background: radial-gradient(
    circle at 0%,
    var(--primary-color) 50%,
    transparent 50%
  );
  background-position: 20% 50%;
  background-size: 201% 100%;
  bottom: 0;
  clip-path: polygon(0 26%, 98% 0, 100% 95%, 1% 100%);
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: left center;
}

.meter::after {
  background: url(./images/barra.svg) no-repeat;
  background-size: contain;
  bottom: -3.7px;
  content: "";
  left: -46px;
  position: absolute;
  right: -62px;
  top: -1.3px;
}

.loading::after {
  animation: infinite loading-dots linear var(--animation-time, 4s);
  content: "...";
  position: absolute;
}

.notification img,
.wishlist img {
  margin-bottom: 20px;
  max-width: 65px;
}

.notification button img {
  margin-bottom: 8px;
  max-height: 30px;
}

.share {
  margin-top: 20px;
}

.share img {
  margin: 0 10px;
  max-width: 50px;
  vertical-align: top;
}

footer img {
  display: inline-block;
  height: 25px;
  margin: 0 15px;
  vertical-align: top;
}

aside + aside {
  margin-top: 40px;
}

.info {
  align-items: flex-end;
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.info li {
  display: flex;
  flex-direction: column;
  margin: 10px 30px;
}

.info img {
  margin-bottom: 15px;
  width: 65px;
}

p.loading::before,
.share::before {
  background: url("./images/sf2.svg") center center no-repeat;
  background-size: contain;
  content: "";
  height: 7vw;
  left: 50%;
  max-height: 50px;
  position: absolute;
  top: 40px;
  transform: translateX(-50%) rotate(var(--rotate, 0));
  width: 100vw;
  z-index: -1;
}

.share::before {
  --rotate: 0.5turn;
}

@keyframes loading-bar {
  from {
    background-position: 100% 50%;
  }

  to {
    background-position: 0% 50%;
  }
}

@keyframes loading-dots {
  0% {
    content: "";
  }
  25% {
    content: ".";
  }
  50% {
    content: "..";
  }
  75% {
    content: "...";
  }
  100% {
    content: "";
  }
}

@media screen and (min-width: 768px) {
  body {
    background-position: center 100px;
    background-size: 615px auto;
  }

  h1 {
    font-size: 180px;
  }
}
